/*  Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Space+Grotesk:wght@300..700&family=Story+Script&display=swap");

/* CSS VARIABLES  */
:root {
  --first-hue: 260;
  --second-hue: 216;
  --first-color: hsl(var(--first-hue), 91%, 64%);
  --first-color-dark: hsl(var(--first-hue), 62%, 20%);
  --title-color: hsl(var(--first-hue), 8%, 85%);
  --text-color: hsl(var(--first-hue), 8%, 75%);
  --body-color: hsl(var(--first-hue), 28%, 12%);
  --container-color: hsl(var(--second-hue), 28%, 15%);
  --white-color: hsl(var(--second-hue), 8%, 100%);

  --first-gradient: linear-gradient(
    150deg,
    var(--first-color) 0%,
    var(--white-color) 100%
  );
  --second-gradient: linear-gradient(
    260deg,
    var(--first-color-dark) 0%,
    var(--first-color) 100%
  );

  /* Font family  */
  --body-font :  "Story Script", sans-serif;

  /* Font Sizes  */
  --big-font-size: 8rem;
  --h1-font-size: 3.75rem;
  --big-font-size: 3rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* Font Weight  */
  --font-medium:500;
  --font-semi-bold:600;
  --font-bold:700;
}

/* Responsive Typography  */
/* ----- Base ------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,button , input, textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);

}
h1,h2,h3{
    color:var(--title-color);
    font-weight :var(--font-bold) ;
    line-height:1.2;
}
p{
    line-height: 1.75;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button , input, textarea{
    border: none;
    outline: none;
    background-color: transparent;
}

img{
    display: block;
    max-width: 100%;
}

/* -----Header and Nav  */
.container{
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 1.25rem;
}
.header{
    background-color: transparent;
    position: fixed;
    inset: 0 0 auto;
    z-index: 1000;
}

.nav,.nav-list,.nav-btns{
    display: flex;
}
.nav{
    /* background-color: var(--first-color); */
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    height: 4.5rem;
}

.nav-logo , .nav-link , .change-theme{
    color: var(--title-color);
}
.nav-logo{
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}
.nav-menu{
    margin-left: auto;
}
.nav-list{
    column-gap: 2.75rem;
}
.nav-link{
    font-weight: var(--font-medium);
    transition: color 0.3s;
}
.nav-link:hover{
    color: var(--first-color);
}
.change-theme{
    font-size: 1.25rem;
}
.nav-btns{
    align-items: center;
    column-gap: 1rem;
}
.nav-close ,.nav-toggle{
    display: none;
}